{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  </li>
  {% endif %}

  <li>
      <form action="{% url 'admin:project_agreement_management_breechstatus_changelist' %}" method="post" id='add_bulk_breach'>
        {% csrf_token %}
        <input type='hidden' name='action' value='add_bulk_breach'/>
        <input type='hidden' name='select_across' value='0'/>
        <input type='hidden' name='index' value='0'/>
        <input type='hidden' name='_selected_action' value='766'/>
        <a href='#' onclick="submitViaLink()" class='addlink'>Add bulk breech status</a>
        </form>
  </li>

  <script>
      function submitViaLink() {
          document.getElementById("add_bulk_breach").submit();
      }
  </script>

{% endblock %}
