{% extends "admin/base_site.html" %}
{# Modified from https://blog.typodrive.com/2018/02/09/simple-django-admin-bulk-editing/ #}
{% load crispy_forms_tags custom_tags static %}
{% block extrahead1 %}

{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
    {{form.media}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<form action="" method="POST">
      {% csrf_token %}
      {{form.as_ul}}
      {% for object in objects %}
      <input type="hidden" name="_selected_action" value="{{ object.pk }}">
      {% endfor %}
      <input type="hidden" name="action" value="{{ request.POST.action }}"/>
      <input type="submit" name="schedule" value="Submit">
</form>
Selected applications:
<ul>
{% for object in objects %}
<li>{{object}}</li>
{% endfor %}
</ul>
{% endblock %}
