{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{{ block.super }}{% endblock breadcrumbs%}
{% block content %}
<p>
  Showings included:
<ul>
{% for object in objects %}
<li>{{object}}</li>
{% endfor %}
</ul>
</p>
<p>
Actions:
<ul>
    <li><a target="_blank" href="{% url 'property_inquiry_showing_emails' object_pks %}">Show Email Template</a></li>
    <li><a  href="{% url 'property_inquiry_create_showing_ics' object_pks %}">Create Calendar Events</a></li>
    <li><a target="_blank" href="{% url 'property_inquiry_showing_release' object_pks %}">Show Release Waiver</a></li>
</ul>
</p>
{% endblock content %}
