{% extends 'allauth-base.html' %}
{% block head_title %}applications and sales activity :: renew indianapolis{% endblock head_title %}

{% block extra_head %}
<link href="{{ STATIC_URL }}paleblue/css/screen.css" media="all" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block content %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
<p>
<h3>The following applications will be reviewed at the {{meeting}} meeting of the Review Committee:</h3>
{% render_table reviewPendingTable %} <a href='{{reviewPendingExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
If you or your organization would like to be notified via email when we are considering applications for the sale of properties in your interest area, register in the
city's <a href="https://maps.indy.gov/Indy.Organizations.Web/">Registered Organization database</a>. To register or update your registration, follow the link,
click on the red box up in the upper right-hand corner, "registrations and downloads." Select update or new and input the new information. Each month before we send out
notifications, we update the list of recipients using that database from the city.
</p>
<p>
<h3>The following properties are sale pending:</h3>
{% render_table approvedTable %} <a href='{{approvedExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
<h3>The following landbank sales have been completed:</h3>
{% render_table soldTable %} <a href='{{soldExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
<h3>The following sales of non-landbank properties have been completed:</h3>
{% render_table soldInvestmentTable %} <a href='{{soldInvestmentExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
{% endblock content %}
