{% extends 'allauth-base.html' %}
{% block head_title %}applications and sales activity :: renew indianapolis{% endblock head_title %}

{% block extra_head %}
<link href="{{ STATIC_URL }}paleblue/css/screen.css" media="all" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block content %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
<p>
<h3>The following applications will be reviewed at the {{meeting}} meeting of the Review Committee:</h3>
{% render_table reviewPendingTable %} <a href='{{reviewPendingExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
<h3>The following properties are sale pending:</h3>
{% render_table approvedTable %} <a href='{{approvedExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
<h3>The following landbank sales have been completed:</h3>
{% render_table soldTable %} <a href='{{soldExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
<p>
<h3>The following sales of non-landbank properties have been completed:</h3>
{% render_table soldInvestmentTable %} <a href='{{soldInvestmentExport}}'><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>Export</a>
</p>
{% endblock content %}
