{% extends 'base-simple-container.html' %}
{% load humanize %}
{% load application_custom_tags %}
{% block center%}


{% regroup meeting.meeting_link.all|dictsort:"application.application_type" by application.get_application_type_display as meeting_links  %}
{% for meeting_link in meeting_links %}
{% for application in meeting_link.list|dictsort:"application.Property.streetAddress"|dictsort:"application.staff_sidelot_waiver_required"|dictsort:"schedule_weight" %}


<div class="row">
  <div class=".col-md-10 .col-xs-10 .col-sm-10 .col-lg-10">
    <p class="text-right">
      Renew Indianapolis<br/>
      Application and Staff Summary<br/>
      {% for meeting in application.application.meeting.all|sort_by:'-meeting'  %}
        {{meeting}}<br/>
      {% endfor %}
    </p>
    <h1>{{application.application.Property.streetAddress}} <small>{{application.application.user.first_name}} {{application.application.user.last_name}}
      {% if application.application.organization %}
    {{application.application.organization}}
    {% endif %}</small></h1>
    <dl>
  </div>
  <div class='col-md-6 col-xs-6'>
    <dt>Property</dt><dd>{{application.application.Property.streetAddress}}</dd>

    <dt>Parcel</dt><dd>{{application.application.Property.parcel}}</dd>
    <dt>Price</dt><dd>${{application.application.price_at_time_of_submission|intcomma}}</dd>
    <dt>Application Type</dt><dd>{{application.application.get_application_type_display}}</dd>
    {% if application.application.application_type == 3 %}
    <dt>Sidelot Application Requires Waiver</dt><dd>{{application.application.staff_sidelot_waiver_required|yesno:"Yes,No,Error"}}</dd>
    {% endif %}
    <dt>Applicant</dt><dd>{{application.application.user.first_name}} {{application.application.user.last_name}}</dd>
    {% if application.application.organization %}
      <dt>Organization</dt><dd>{{application.application.organization}}</dd>
    {% endif %}
    <dt>BEP Property</dt><dd>{{application.application.Property.hhf_demolition|yesno:"Yes,No,Error"}}</dd>
    <dt>Parcel is Future Development Lot Program eligible</dt><dd>{{application.application.Property.future_development_program_eligible|yesno:"Yes,No,Error"}}</dd>
    <dt>Owned by Renew Indianapolis</dt><dd>{{application.application.Property.renew_owned|yesno:"Yes,No,Error"}}</dd>
    <dt>Neighborhood</dt><dd>{{application.application.Property.neighborhood}}</dd>
    <dt>Property Showings</td><dd>{% for pi in application.application.user.propertyinquiry_set.all %}
      {%if pi.Property == application.application.Property %} Showing request submitted {{pi.timestamp|date:"m/d"}} {{pi.get_status_display}}<br/>{%endif%}{%endfor%}
    </dd>
    <dt>Staff Summary</dt>
    <dd>
       {{application.application.staff_summary}}
    </dd>

    <dt>Value in Scope of Work/Schedule of Values</dt><dd>${{application.application.staff_sow_total|default:"-"|intcomma}}</dd>
    <dt>Proof of Funds</dt><dd>${{application.application.staff_pof_total|default:"-"|intcomma}}</dd>
    <dt>Proof of Funds notes</dt><dd>{{application.application.staff_pof_description}}</dd>
    <!-- <dt>Previous Purchases from Renew Indianapolis</dt><dd>(not implemented)</dd> -->
    <dt>Neighborhood Organizations Notified<dt><dd>{{application.application.neighborhood_notification_details|truncatechars:100}}</dd>
    <dt>Neighborhood Organizations Feedback<dt><dd>{{application.application.neighborhood_notification_feedback}}</dd>

    <dt>Points to consider</dt><dd>{{application.application.staff_points_to_consider}}</dd>
    <dt>Staff Recommendation</dt><dd>{{application.application.staff_recommendation|yesno:"Yes,No,None"}}
      {% if application.application.staff_recommendation_notes %} ({{application.application.staff_recommendation_notes}}) {% endif %}
    </dd>
    <dt></dt><dd></dd>

    </dl>
  </div>

  <div class='col-md-4 col-xs-4'>
    {% regroup application.application.Property.photo_set.all by main_photo as sorted_photos %}
    {% for photo_list in sorted_photos %}
      {% if photo_list.grouper %}
        {% for photo in photo_list.list %}
          <img src="/media/{{ photo.image }}" class="img-thumbnail"/>
          <div class="caption">{{photo.created}}</div>
        {% endfor %}
      {% endif %}
      {% empty %}
        <img src="https://maps.googleapis.com/maps/api/streetview?size=300x300&key=AIzaSyDA2qmHbfbl1-I1BEshcKQxCgH7beKJDW0&location={{application.application.Property.streetAddress}}, Indianapolis, IN" class="img-thumbnail"/>
      &nbsp;<br/>
    {% endfor %}
    <img src="https://build.renewindianapolis.org/static/inventory_maps/parcel_{{application.application.Property.parcel}}.jpg" class="img-thumbnail" width="200"/>

  </div>
</div>
<div class="row">
  <div class=".col-md-10 .col-xs-10 .col-sm-10 .col-lg-10">
      {{application.Property.streetAddress}} {{application.user.first_name}} {{application.user.last_name}}
        {% if application.organization %}
      {{application.organization}}
      {% endif %}
      <div class="page-break"></div>
  </div>
</div>


    {% endfor %}
{% endfor %}




<style>
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
</style>
{% endblock center %}
