{% extends 'allauth-base.html' %}
{% block head_title %}Donate :: Renew Indianapolis{% endblock head_title %}

{% block content%}
<div id="messages"></div>
<div id="solicitation">
<h1>donate to renew indianapolis</h1>
<dl>
<dt>Blight</dt> noun \ ˈblīt \
<dd>
1 something that frustrates plans or hopes
</dd>
<dd>
2 something that impairs or destroys
</dd>
<dd>
3 a deteriorated condition
</dd>
</dl>
<p>
No matter the definition you choose, Renew Indianapolis is very familiar. Each day, a small staff of four works toward eliminating blight in Indianapolis neighborhoods, eradicating abandoned and at-risk houses and revitalizing neighborhoods across the city.
</p>
<p>
Managing and marketing the sale of the City of Indianapolis’ Lank Bank inventory is no easy task. Since 2014, Renew has worked closely with the City to develop a thoughtful marketing program, informative website, effective disposition policies and a review committee with members from a wide cross section of real estate experts, community development leaders and representatives of the local philanthropic and government sectors.
</p>
<p>
Our unique partnership with the City has also allowed Renew to step into the industrial and commercial real estate sectors, facilitating connections with the many organizations working in that area and offering services that will bring some of those abandoned properties back into productive use. The abandoned industrial sites across the city’s landscape are a tough sell for redevelopment—often hindered by expensive environmental cleanup costs and other challenges. Entry into this industrial market represents a shift in category and scale of development and potential role in the re-use or redevelopment process.
</p>
<p>
However, most of the property that is owned by Renew was acquired with funding that currently pays for maintenance, insurance and real estate taxes. The City of Indianapolis will celebrate its Bicentennial in the year 2020, which is also the year that this funding will most likely end. Renew operates as a nimble organization with a small operating and acquisition budget based in residential, and soon to be industrial and commercial, transactions. A donation to Renew Indianapolis ensures we can continue our mission of being a transparent, reliable and efficient organization that conveys vacant, abandoned, and at-risk properties to partners committed to blight elimination and neighborhood revitalization.
</p>
<p>
Our fundraising efforts provide a long-term, dedicated funding source for property upkeep and maintenance. I hope that you will help revive growth and opportunity in the neighborhoods of Indianapolis by making a donation to our efforts today! You can get started with your tax-deductible gift with the the form below.
</p>
<p>&nbsp;</p>
<p>
<div class='center-text'>
  <div class="input-group input-group-md">
    <span class="input-group-addon">$</span>
    <input id='amount' type="text" class="form-control" aria-label="Amount">
      <span class="input-group-btn">
        <button class="btn btn-primary" id="donateButton">Donate</button>
      </span>
  </div>
</div>
</p>

</div>

<script src="https://checkout.stripe.com/checkout.js"></script>
{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script>

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function update_messages(messages){
  $("#messages").html("");
  lvl = ''
  $.each(messages, function (i, m) {
    if (m.level == '25' ){
      lvl = 'success'
      $('#solicitation').hide(500)
    }
    else {
      lvl = 'danger'
    }
    $("#messages").append("<div class='alert alert-"+lvl+"''>"+m.message+"</div>");
  });
}

  var handler = StripeCheckout.configure({
    key: '{{STRIPE_API_KEY}}',
    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // call server with token,
      $.ajax({
        type: "POST",
        url: "{% url 'donate' %}",
        data: {
          token: token.id,
          amount: parseFloat(document.getElementById('amount').value)*100
        },
        success: function(data){
          update_messages(data)
        },
        //dataType: dataType
      });
    }
  });

  document.getElementById('donateButton').addEventListener('click', function(e) {
    if (parseInt(document.getElementById('amount').value) == NaN){ alert("Please enter an amount"+document.getElementById('amount').value)}
    else{
    // Open Checkout with further options:
    handler.open({
      name: 'Renew Indianapolis',
      description: 'Donation',
      zipCode: true,
      image: '/static/renew-logo-small.png',
      amount: parseFloat(document.getElementById('amount').value)*100
    });
    e.preventDefault();
  } });

  // Close Checkout on page navigation:
  window.addEventListener('popstate', function() {
    handler.close();
  });
</script>
{% endblock content %}
