{% extends 'base-simple-container.html' %}
{% block center %}
<h1>Hello!</h1>

<p>Did you remenber to <a href="{%url 'update_registered_organizations' %}">Update</a> the list of registered neighborhood organizations?</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for org, apps in organizations %}
  {{org}}</br>
  <pre>
  {% include message_template with applications=apps %}
{%comment%}  {% for app in apps%}
    {% for file in app.file.all %}{% if file.send_with_neighborhood_notification %}. {{file}}
  {% endif %}{% endfor %} {%endfor%}
  {%endcomment%}
  </pre>
{% endfor %}

<a class="btn btn-danger" href="{% url 'generate_neighborhood_notifications' meeting.id %}?mark_sent=True" role="button">Mark these notifications as sent.</a>
<a class="btn btn-primary" href="{% url 'generate_neighborhood_notifications' meeting.id %}?get_csv=True" role="button">Download CSV for mail merge.</a>
<a class="btn btn-warning disabled" href="{% url 'generate_neighborhood_notifications' meeting.id %}?send_email=True" role="button">Send emails from BF.</a>

{% endblock center %}
