{% load humanize market_tags %}

<div class="row">
<div class='col-md-8 col-xs-8'>
  <h3>{{price_change.Property}}</h3>
  <span class='hidden-print'><a href="http://maps.indy.gov/AssessorPropertyCards.Reports.Service/Service.svc/PropertyCard/{{price_change.Property.parcel}}" target="_blank">PRC</a></span>
  <ul class="list-group">
    <li class="list-group-item"><strong>Proposed price change</strong>: ${{price_change.Property.price|intcomma}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> ${{price_change.proposed_price|intcomma}},</li>
  </ul>
  <ul class="list-unstyled">
    <li>{{price_change.Property.structureType}}</li>
    <li>Applications: {{price_change.Property.application_set.count}}</li>
    <ul>
    {% for app in price_change.Property.application_set.all %}
      <li>{{app.user.first_name}} {{app.user.last_name}} ({{app.organization}}) - {% if app.status == 4%} (complete){% else %}(incomplete){% endif %}, created {{app.created|date:"Y/m/d"}}</li>
    {% endfor %}
    </ul>
    {% if price_change.Property.structureType != 'Vacant Lot' %}
      <li>Property inquiries received: {{price_change.Property.propertyinquiry_set.count}}</li>
      <li>Inquiries in the past 30, 60, 90, 180 days: {{price_change.inquiries_previous_30_days}}, {{price_change.inquiries_previous_60_days}}, {{price_change.inquiries_previous_90_days}}, {{price_change.inquiries_previous_180_days}}</li>
    {% endif %}

    </ul>
  <p>
    {{price_change.notes}}
  </p>

{%comment%}
<p>
  <table class="table table-condensed">
    <caption>12 Month Sales Summary</caption>
    <thead>
      <tr>
        <th>Census Tract</th>
        <th>Created</th>
        <th>Type</th>
        <th>Number of sales</th>
        <th>Average</th>
        <th>Median</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Top 10%</th>
        <th>Bottom 10%</th>
        <th>Average Per Lot SqFt</th>
        <th>Median Per Lot SqFt</th>
        <th>Minimum Per Lot SqFt</th>
        <th>Maximum Per Lot SqFt</th>
        <th>Top 10% Per Lot SqFt</th>
        <th>Bottom 10% Per Lot SqFt</th>
      </tr>
    </thead>
    <tbody>
      {% for summary in price_change.Property.census_tract.sdf_summary.all|dictsortreversed:"get_with_improvements_display"|dictsortreversed:"created" %}
        <tr>
          <td>{{summary.census_tract}}</td>
          <td>{{summary.created}}</td>
          <td>{{summary.get_with_improvements_display}}</td>
          <td>{{summary.number_qualifying_sales|intcomma}}</td>
          <td>${{summary.average|floatformat:"0"|intcomma}}</td>
          <td>${{summary.median|floatformat:"0"|intcomma}}</td>
          <td>${{summary.minimum|floatformat:"0"|intcomma}}</td>
          <td>${{summary.maximum|floatformat:"0"|intcomma}}</td>
          <td>${{summary.top_90_percent|floatformat:"0"|intcomma}}</td>
          <td>${{summary.bottom_10_percent|floatformat:"0"|intcomma}}</td>
          <td>${{summary.average_per_sq_ft|floatformat:"3"|intcomma}}</td>
          <td>${{summary.median_per_sq_ft|floatformat:"3"|intcomma}}</td>
          <td>${{summary.minimum_per_sq_ft|floatformat:"3"|intcomma}}</td>
          <td>${{summary.maximum_per_sq_ft|floatformat:"3"|intcomma}}</td>
          <td>${{summary.top_90_percent_per_sq_ft|floatformat:"3"|intcomma}}</td>
          <td>${{summary.bottom_10_percent_per_sq_ft|floatformat:"3"|intcomma}}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</p>
{%endcomment%}

<p>

  <ul>
  <li>Lot Size: {{price_change.Property.area}} sqft</li>
  <li>Proposed Lot Price per SqFt: ${{price_change.proposed_price|divide_by:price_change.Property.area|floatformat:"3"|intcomma}}
  <li>Assessed Land Value: ${{price_change.assessed_land_value|intcomma}}</li>
  <li>Assessed Improvement Value: ${{price_change.assessed_improvement_value|intcomma}}</li>
</ul>
</p>
{% if price_change.Property.conditionreport_set.count > 0 %}
<p>

  <table class="table">
    <caption>Condition Reports</caption>
    <thead>
      <tr>
        <th>Date</th>
        <th>Secure</th>
        <th>Occupied</th>
        <th>Major Structural Issues</th>
        <th>Quick Condition</th>
      </tr>
    </thead>
    <tbody>
      {% for cr in price_change.Property.conditionreport_set.all %}
        <tr>
          <td>{{cr.timestamp}}</td>
          <td>{{cr.secure}}</td>
          <td>{{cr.occupied}}</td>
          <td>{{cr.major_structural_issues}}</td>
          <td>{{cr.quick_condition}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</p>
{% endif %}
{% regroup price_change.Property.photo_set.all by main_photo as sorted_photos %}
{% for photo_list in sorted_photos %}
  {% if photo_list.grouper %}
    {% for photo in photo_list.list %}
      <img src="/media/{{ photo.image }}" class="img-thumbnail" width=400/>
      <div class="caption">{{photo.created}}</div>
    {% endfor %}
  {% endif %}
  {% empty %}
    <img src="https://maps.googleapis.com/maps/api/streetview?size=300x300&key=AIzaSyDA2qmHbfbl1-I1BEshcKQxCgH7beKJDW0&location={{price_change.Property.streetAddress}}, Indianapolis, IN" class="img-thumbnail"/>
  &nbsp;

{% endfor %}<img src="https://build.renewindianapolis.org/static/inventory_maps/parcel_{{price_change.Property.parcel}}.jpg" class="img-thumbnail" width="200"/>

</div>
</div>
