{% extends 'base-simple.html' %}
{% load humanize %}
{% block center %}
<p class="text-right">
  Renew Indianapolis<br/>
  Price Change Proposals<br/>
  {{meeting}}
</p>

{% for meeting_link in meeting.price_change_meeting_link.all|dictsort:"price_change.Property.zipcode" %}
{% with price_change=meeting_link.price_change%}
{% if forloop.first %} &nbsp; {% else %}
<div class="page-break"></div>
{% endif %}
{% include 'price_change_stub.html' %}
{% endwith %}
{% endfor %}

<style>
@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}
</style>

{% endblock center %}
