{% extends 'base-simple.html' %}
{% load humanize %}
{% block center %}

{% regroup meeting.meeting_link.all|dictsort:"application.application_type" by application.get_application_type_display as meeting_links  %}
<h1>{{meeting.get_meeting_type_display}} Agenda</br><small>{{meeting.meeting_date}}</small></h1>
<ul>
{% for meeting_link in meeting_links %}
<li><h3>{{ meeting_link.grouper }} ({{meeting_link.list|length}})</h3>
  <dl>
    {% for ml in meeting_link.list|dictsort:"application.Property.streetAddress"|dictsort:"application.staff_sidelot_waiver_required"|dictsort:"schedule_weight" %}
      <dt> <b>{{ ml.application.user.first_name }} {{ ml.application.user.last_name }}</br>
        {% if ml.application.organization %} {{ ml.application.organization }} </br> {% endif %}
        {{ ml.application.Property }}</b> ${{ml.application.price_at_time_of_submission|intcomma}}
        {% for x in meeting_links %}
          {% for ml2 in x.list %}
            {% if ml2.application.Property == ml.application.Property and ml.application.id != ml2.application.id %}({{ml2.application.user.last_name}}) {%endif%}
          {% endfor %}
        {% endfor %}
        {% if ml.application.staff_sidelot_waiver_required %} (sidelot policy waiver required) {% endif %}
        {% if ml.application.application_type == 5 and not ml.application.Property.future_development_program_eligible %} (FDL policy waiver required) {% endif %}
        {% if ml.conditional_approval == 2 %} (Approved as a Backup) {% endif %}
      </dt>
      <dd>Discussion:&nbsp;</br>&nbsp;</br></dd>
    {% endfor %}
  </dl>
</li>
{% endfor %}
</ul>

{% endblock center %}
