<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/surplus_map_fancy.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.1.0/ol.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/fh-3.1.2/sc-1.4.2/datatables.min.css"/>
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.1.0/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4-src.js"></script>

    <title>Map Viewer :: Surplus :: Renew Indianapolis</title>
    <style type="text/css">
      body { overflow: hidden; }


      .google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
      }
      .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }

      .navbar-offset { margin-top: 50px; }
      #map { position: absolute; top: 50px; bottom: 0px; left: 0px; right: 0px; }
      #map .ol-zoom { font-size: 1.2em; }

      .zoom-top-opened-sidebar { margin-top: 5px; }
      .zoom-top-collapsed { margin-top: 45px; }

      .mini-submenu{
        display:none;
        background-color: rgba(255, 255, 255, 0.46);
        border: 1px solid rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        padding: 9px;
        /*position: relative;*/
        width: 42px;
        text-align: center;
      }

      .mini-submenu-left {
        position: absolute;
        top: 60px;
        left: .5em;
        z-index: 40;
      }
      .mini-submenu-right {
        position: absolute;
        top: 60px;
        right: .5em;
        z-index: 40;
      }

      #map { z-index: 35; }

      .sidebar { z-index: 45; }
      #layers {overflow-y: scroll;}
      .main-row { position: relative; top: 0; }

      .mini-submenu:hover{
        cursor: pointer;
      }

      .slide-submenu{
        background: rgba(0, 0, 0, 0.45);
        display: inline-block;
        padding: 0 8px;
        border-radius: 4px;
        cursor: pointer;
      }

      #search_results_pan {
        margin: .5em;
        padding: .25em;
        margin-right: 1em;
        background-color: rgba(255, 255, 255, 1);
        z-index: 40;

      }

      #search_results_wrapper {
        background-color: white;

      }


      .modal_help {
        position: fixed;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
      }

      .modal-dialog_help {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
      }

      .modal-content_help {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #3c7dcf;
        border-radius: 0;
        box-shadow: none;
      }

      .modal-header_help {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
        padding: 10px;
        background: #6598d9;
        border: 0;
      }

      .modal-title_help {
        font-weight: 300;
        font-size: 2em;
        color: #fff;
        line-height: 30px;
      }

      .modal-body_help {
        position: absolute;
        top: 50px;
        bottom: 60px;
        width: 100%;
        font-weight: 300;
        overflow: auto;
      }

      .modal-footer_help {
        position: absolute;
        right: 0;
        bottom: -50px;
        left: 0;
        height: 60px;
        padding: 10px;
        background: #f1f3f5;
      }


    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.15/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript">

      function applyMargins() {
        var leftToggler = $(".mini-submenu-left");
        var rightToggler = $(".mini-submenu-right");
        if (leftToggler.is(":visible")) {
          $("#map .ol-zoom")
            .css("margin-left", 0)
            .removeClass("zoom-top-opened-sidebar")
            .addClass("zoom-top-collapsed");
        } else {
          $("#map .ol-zoom")
            .css("margin-left", $(".sidebar-left").width())
            .removeClass("zoom-top-opened-sidebar")
            .removeClass("zoom-top-collapsed");
        }
        if (rightToggler.is(":visible")) {
          $("#map .ol-rotate")
            .css("margin-right", 0)
            .removeClass("zoom-top-opened-sidebar")
            .addClass("zoom-top-collapsed");
        } else {
          $("#map .ol-rotate")
            .css("margin-right", $(".sidebar-right").width())
            .removeClass("zoom-top-opened-sidebar")
            .removeClass("zoom-top-collapsed");
        }
      }

      function isConstrained() {
        return $("div.mid").width() == $(window).width();
      }

      function applyInitialUIState() {
        if (isConstrained()) {
          $(".sidebar-left .sidebar-body").fadeOut('slide');
          $(".sidebar-right .sidebar-body").fadeOut('slide');
          $('.mini-submenu-left').fadeIn();
          $('.mini-submenu-right').fadeIn();
        }
      }

      $(function(){
        $('.sidebar-left .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-left').fadeIn();
            applyMargins();
          });
        });

        $('.mini-submenu-left').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-left .sidebar-body').toggle('slide');
          thisEl.hide();
          applyMargins();
        });

        $('.sidebar-right .slide-submenu').on('click',function() {
          var thisEl = $(this);
          thisEl.closest('.sidebar-body').fadeOut('slide',function(){
            $('.mini-submenu-right').fadeIn();
            applyMargins();
          });
        });

        $('.mini-submenu-right').on('click',function() {
          var thisEl = $(this);
          $('.sidebar-right .sidebar-body').toggle('slide');
          thisEl.hide();
          applyMargins();
        });

        $(window).on("resize", applyMargins);

        applyInitialUIState();
        applyMargins();
      });
    </script>


  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand'><img alt='Renew Indianapolis logo' class="navbar-brand" src="https://build.renewindianapolis.org/static/logo.png"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li> -->
            </ul>
            <form class="navbar-form navbar-left" role="search" id="top-search-box">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Street address, parcel number, zipcode" id="query"/>
              </div>
              <button type="submit" class="btn btn-default" id="top-search-button">Search</button>
              <button id='modal_toggle' class="btn btn-primary btn-modal" data-toggle="modal" data-target="#fsModal" >Show List</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'surplus_download_csv' %}">Download full list as csv</a></li>
                  <!-- <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li> -->
                </ul>
              </li>
            </ul>
<!--            <span id="search_results_pan"><table id="search_results" class="table table-striped table-bordered" cellspacing="0" width="100%"></table></span> -->

            </div><!-- /.navbar-collapse -->

            </div><!-- /.container-fluid -->

          </nav>

        </div><!-- /.container -->

      <div class="navbar-offset"></div>

        <div id="fsModal"
         class="modal animated bounceIn"
         tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-dialog_help">
             <!-- content -->
             <div class="modal-content modal-content_help">
               <!-- header -->
               <div class="modal-header modal-header_help">
                 <h1 class="modal-title modal-title_help">
                   Search Results
                 </h1>
               </div><!-- header -->
               <!-- body -->
               <div class="modal-body modal-body_help">
                 <!--<span id="search_results_pan" class="well well-lg">--><table id="search_results" class="table table-responsive table-condensed table-bordered" cellspacing="0" width="100%"></table>

               </div>            <!-- body -->
               <!-- footer -->
               <div class="modal-footer modal-footer_help">
                 <button class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>          <!-- footer -->
             </div>          <!-- content -->
           </div>        <!-- dialog -->
         </div>      <!-- modal -->


      <div id="map">
      </div>
          <div id="location" class="marker"><span class="icon-arrow-up"></span>
      </div>

      {% load crispy_forms_tags %}
      <!-- <div style="display:none">{% crispy filter.form filter.form.helper %}</div> -->
      <div class="row main-row">
        <div class="col-sm-4 col-md-3 sidebar sidebar-left pull-left">
          <div class="panel-group sidebar-body" id="accordion-left">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#layers">
                    <i class="fa fa-list-alt"></i>
                    Filter
                  </a>
                  <span class="pull-right slide-submenu">
                    <i class="fa fa-chevron-left"></i>
                  </span>
                </h4>
              </div>
              <div id="layers" class="panel-collapse collapse in">
                <div class="panel-body list-group">

                  {% crispy filter.form  %}

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-4 col-md-6 mid"></div>
        <!-- <div class="col-sm-4 col-md-3 sidebar sidebar-right pull-right">
          <div class="panel-group sidebar-body" id="accordion-right">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#taskpane">
                    <i class="fa fa-tasks"></i>
                    Properties
                  </a>
                  <span class="pull-right slide-submenu">
                    <i class="fa fa-chevron-right"></i>
                  </span>
                </h4>
              </div>
              <div id="taskpane" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div id="properties">
                      <p>Welcome to the Marion County Surplus Property Viewer, by Renew Indianapolis.</p>
                      <p>This tool is designed for internal use by Renew Indianapolis and Department of Metropolitan Development staff to identify
                        properties in the Marion County Surplus Inventory for action.</p>
                      <p>Parcels with structures are shown as red dots, vacant lots as blue dots. Zoom in for exact parcel boundaries.</p>
                      <p>Search using the form to the left, then click on a property for more information.</p>
                    </div>
                    <form action="" method="POST" id="updateForm"/>
                    <div id='filter'></div>
                    </form>
                    <table id="search_results_short" class="table table-responsive table-condensed"></table>
                  </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
       <div class="mini-submenu mini-submenu-left pull-left">
        <i class="fa fa-list-alt"></i>
      </div><!--
      <div class="mini-submenu mini-submenu-right pull-right">
        <i class="fa fa-tasks"></i>
      </div> -->
      <div class="modal fade" id="property_info">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="property_info_address"></h4>
            </div>
            <div class="modal-body">
              <p>
                <form action="{% url 'surplus_property_update' %}" method="POST" id="updateForm"/>
                <div id="properties"></div>
                  <!-- <div id='filter'></div> -->
                </form>
                <!-- <table id="search_results_short" class="table table-responsive table-condensed"></table> -->


              </p>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    <script>


      var parser = new ol.format.WMTSCapabilities();
      var map;
      proj4.defs("EPSG:2965","+proj=tmerc +lat_0=37.5 +lon_0=-85.66666666666667 +k=0.999966667 +x_0=99999.99989839978 +y_0=249999.9998983998 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=us-ft +no_defs");

      var styleCache = {};

      var styleFunction = function(feature) {
        var parcel = feature.get('parcel_number');
        var style = styleCache[parcel];
        if (!style) {
          var structure_type;
          structure_type = feature.get('has_building', false);
          var icon;
          var color;
          var fill;
          var stroke;
        //  console.log(structure_type);
          if (structure_type){
            fill = new ol.style.Fill({
              color: 'rgba(255,0,0,0.4)' //red
            });
            stroke = new ol.style.Stroke({
              //color: '#3399CC',
              color: 'black',
              width: 1.25
            });
          }
          else{
            fill = new ol.style.Fill({
              color: 'rgba(0,0,255,0.4)' //blue
            });
            stroke = new ol.style.Stroke({
              color: 'black',
              width: 1.25
            });
            color = 'black';
          }

          style = new ol.style.Style({
            color: color,
            image: new ol.style.Circle({
              fill: fill,
              stroke: stroke,
              radius: 5,
              //imgSize: [10, 10]
            }),
            fill: fill,
            stroke: stroke
          });
          styleCache[parcel] = style;
          return style;
        };
        return styleCache[parcel];
      }




      var stroke = new ol.style.Stroke({color: 'black', width: 2});
      var fill = new ol.style.Fill({color: '#f03b20'});

      var styles = {
        'search': new ol.style.Style({
          image: new ol.style.Circle({
            fill: fill,
            stroke: stroke,
          //  points: 4,
            radius: 10,
            //angle: Math.PI / 4
          })
        }),
        'polygon': new ol.style.Style({
          fill: new ol.style.Fill({
            color: [255, 255, 255, .1]
          }),
          stroke: new ol.style.Stroke({
            color: '#3399CC',
            width: 1.25
          }),
        }),
      }


      var completedStyle = new ol.style.Style({
        color: [255, 255, 255, 1],
        image: new ol.style.Circle({
          fill: new ol.style.Fill({
            color: [0, 0, 0, .1]
          }),
          stroke: new ol.style.Stroke({
            color: 'black',
            width: 1.25
          }),
          radius: 5,
          //imgSize: [10, 10]
        }),

        fill: new ol.style.Fill({
          color: [255, 255, 255, 1],
        }),
        stroke: new ol.style.Stroke({
          color: '#3399CC',
          width: 1.25
        }),
    });


      var surplusPolygons = new ol.layer.Vector({
          title: 'Surplus Inventory',
          projection: 'EPSG:2965',
          maxResolution: '3',
          //minResolution: '.25',
          style: styles['polygon'],
          source: new ol.source.Vector({
            url: '/surplus/search/?geometry_type=polgyon',
            format: new ol.format.GeoJSON()
          }),
        });

      //var searchPolygonsSearch = new ol.source.Vector();
      var searchPolygons = new ol.layer.Vector({
        title: 'Search Results',
        projection: 'EPSG:2965',
        source: new ol.source.Vector(),
        style: styles['search'],
        minResolution: '.75',
      });


      var surplusCentroids = new ol.layer.Vector({
          title: 'Surplus Centroids Inventory',
          projection: 'EPSG:2965',
          minResolution: '3',
          source: new ol.source.Vector({
            url: '/surplus/search/?geometry_type=centroid&report=true',
            format: new ol.format.GeoJSON()
          }),
          style: styleFunction,
        });

        var surplusCentroidsNoReport = new ol.layer.Vector({
            title: 'Surplus Centroids Inventory',
            projection: 'EPSG:2965',
            minResolution: '3',
            source: new ol.source.Vector({
              url: '/surplus/search/?geometry_type=centroid&report=false',
              format: new ol.format.GeoJSON()
            }),
            style: styleFunction,
          });



      $(document).ready(function(){
        $.get('/static/WMTSCapabilities2018.xml', function(text){
          var result = parser.read(text);
          var options = ol.source.WMTS.optionsFromCapabilities(result, {
            layer: 'Imagery_2018Photography_Labels', matrixSet: 'default028mm'
          });

          var view = new ol.View({
            center: [188266, 1649330],
            zoom: 15,
            maxZoom: 23,
            //maxZoom: 3, //doesn't work?
            projection: 'EPSG:2965'
          })

          var RotateNorthControl = function(opt_options) {
            var options = opt_options || {};

            var anchor = document.createElement('a');
            anchor.href = '#rotate-north';
            anchor.innerHTML = 'N';

            var this_ = this;
            var handleRotateNorth = function(e) {
              // prevent #rotate-north anchor from getting appended to the url
              e.preventDefault();
              this_.getMap().getView().setRotation(0);
            };

            anchor.addEventListener('click', handleRotateNorth, false);
            anchor.addEventListener('touchstart', handleRotateNorth, false);

            var element = document.createElement('div');
            element.className = 'rotate-north ol-unselectable';
            element.appendChild(anchor);

            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });

          };
          ol.inherits(RotateNorthControl, ol.control.Control);


          var geolocation = new ol.Geolocation({
            tracking: false
          });


          //create a vector source to add the icon(s) to.
          var vectorSource = new ol.source.Vector({});


          var vectorLayer = new ol.layer.Vector({
              source: vectorSource
          });

          var TrackingControl = function(opt_options) {
            console.log('here');
            var options = opt_options || {};

            var anchor = document.createElement('a');
            anchor.href = '#track-toggle';
            anchor.innerHTML = 'O';

            var this_ = this;
            var handleTrackingControl = function(e) {
              // prevent #rotate-north anchor from getting appended to the url
              e.preventDefault();
              geolocation.on('change', function(evt) {
                 //save position and set map center
                 var pos = ol.proj.transform(geolocation.getPosition(), 'EPSG:4326', 'EPSG:2965');
                 //alert(geolocation.getPosition())
                 map.getView().setCenter(pos);

                 //create icon at new map center
                 var iconFeature = new ol.Feature({
                       geometry: new ol.geom.Point(pos)
                 });

                 //add icon to vector source
                 vectorSource.addFeature(iconFeature);
              });
  };

            anchor.addEventListener('click', handleTrackingControl, false);
            anchor.addEventListener('touchstart', handleTrackingControl, false);

            var element = document.createElement('div');
            element.className = 'tracking-control ol-unselectable';
            element.appendChild(anchor);

            ol.control.Control.call(this, {
              element: element,
              target: options.target
            });

          };
          ol.inherits(TrackingControl, ol.control.Control);



          map = new ol.Map({
            layers: [
              /*new ol.layer.Tile({
                source: new ol.source.OSM(),
                opacity: 1
              }), */
              new ol.layer.Tile({
                 opacity: 1,
                 source: new ol.source.WMTS(options)
              }),
              surplusPolygons,
              surplusCentroids,
              searchPolygons,
            //  surplusCentroidsNoReport,
            ],
          //  overlays: [overlay],
            target: 'map',
            view: view,
            controls: ol.control.defaults({
              attribution: false,
            }).extend([
              new RotateNorthControl(), new ol.control.ScaleLine
            ]),
          });





          map.on('singleclick', function(evt) {
            var latlon = ol.proj.transform(evt.coordinate, 'EPSG:2965', 'EPSG:4326');
            lat = latlon[0]
            lon = latlon[1]

            var feature = map.forEachFeatureAtPixel(evt.pixel,
              function(feature, layer) {
                return feature;
              });

            if (feature) {
              $.get('surplus/property/'+feature.get("parcel_number")+'/', function(data){
                parcel = data.features[0].properties;
                iframe = '<div class="google-maps"><iframe src="https://www.google.com/maps/embed/v1/streetview?&key=AIzaSyABkapFATusLHbmOnndPBjx-JsGiO5TDkM&location='+lon + ','+lat+'" allowfullscreen="" height="600" width="600"></div>';
                interesting_checked = ''
                vetted_checked = ''
                if (parcel.interesting){ interesting_checked = 'checked=checked'; }
                if (parcel.vetted){ vetted_checked = 'checked=checked'; }
                filter = 'Interesting? <input type="checkbox" name="interesting" '+interesting_checked+'/>'+
                  ' Vetted? <input type="checkbox" name="vetted" '+vetted_checked+'/><br/>'+
                  'Notes: <input type="text" name="notes" value="'+parcel.notes+'"/></br>'+
                  '<input type="hidden" name="parcel_number" value="'+parcel.parcel_number+'"/>'+
                  '<input type="submit" id="submit" value="Save"/>';
                html = '<ul class="list-unstyled">'+
                  '<li>Area: '+parcel.area+' Township: '+parcel.township+'</li>'+
                  '<li>Residential: '+parcel.assessor_classification+' Source: '+parcel.classification+'</li>'+
                  '<li>Has building: '+parcel.has_building+' Zoning: '+parcel.zoning+'</li>'+
                  '<li>Demo order: '+parcel.demolition_order_count+' Repair Order: '+parcel.repair_order_count+' VBO Order: '+parcel.vbo_count+'</li>'+
                  '<li>Requested From Commissioners: '+parcel.requested_from_commissioners+' Notes: '+parcel.notes+'</li>'+
                  '<li>Interesting: '+parcel.interesting+'</li>'+
                  '<li>Vetted: '+parcel.vetted+'</li>'+
                  '<li>End Use: '+parcel.intended_end_use+'</li>'+
                  '<li>Condition Report: <a href="{% if not debug %}https://build.renewindianapolis.org{%else%}http://localhost:8000{%endif%}/admin/condition_report_admin/'+parcel.parcel_number+'" target="_blank">View or create report</a></li>'+
                  '</ul><div id="filter"></div>'+
                  iframe;
                $("#property_info_address").html(parcel.street_address+' (<a href="http://maps.indy.gov/AssessorPropertyCards.Reports.Service/Service.svc/PropertyCard/'+parcel.parcel_number+'">'+parcel.parcel_number+'</a>)')
                $('#properties').html(html);
                $('#filter').html(filter);
                $('#property_info').modal('show')

            });

            }
        });
      });
    });



    function update_form() {
      $.ajax({
          url : '{% url "surplus_property_update" %}', // the endpoint
          type : "POST", // http method
          data :  $( '#updateForm' ).serialize(), // data sent with the post request
          // handle a successful response
          success : function(json) {
              console.log("success"); // another sanity check
              alert("Updated");
          },
          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
        });
    }

    // Submit changes on submit - have to attach this way since form doesn't exist at first
    $(document).on('submit', '#updateForm', function(event){
      event.preventDefault();
      update_form();
    });

    $(document).on('click', '.clicky', function(event){
    //  $('#search_results_pan').collapse("toggle");
    });



    var geojson_format = new ol.format.GeoJSON()

    $('#search_results').DataTable( {
            //data: json.features,
            dom: 'Brtlip',
            buttons: [
              'copy', 'excel', 'pdf'
            ],
            responsive: true,
            "columns": [
                { "title": 'Parcel Number',
                  "data": "properties.parcel_number" },
                { "title": 'Street Address',
                  "data": "properties.street_address" },
                { "title": 'Has Building',
                  "data": "properties.has_building" },
                { "title": 'Interesting',
                  "data": "properties.interesting" },
                { "title": 'Demolition Order',
                  "data": "properties.demolition_order_count" },
                { "title": 'Repair Order',
                  "data": "properties.repair_order_count" },
                { "title": 'VBO Order',
                  "data": "properties.vbo_count" },
                { "title": 'Notes',
                  "data": "properties.notes" },
                { "title": 'Vetting Notes',
                  "data": "properties.vetting_notes" },
            ],
/*            columnDefs: [ {
              targets: 6,
              render: $.fn.dataTable.render.ellipsis( 20 )
            } ],
*/
        } );

        $('#search_results_short').DataTable({
          dom: 'tp',
          responsive: true,
          "columns": [
            {
              "data": "properties.street_address",
            },
            {
              "data": "properties.parcel_number",
            },
            {
              "targets": 0,
              "data":  "properties.street_address",
              "render": function ( data, type, full, meta ) {
                return '<img src="https://maps.googleapis.com/maps/api/streetview?size=500x500&key=AIzaSyDA2qmHbfbl1-I1BEshcKQxCgH7beKJDW0&location='+data+', Indianapolis, IN" class="img-responsive"/>'
                }
            },
//            {
  //            "targets": 3,
            //  "data": "properties.price"
              //"render": function (data, type, full, meta) { return '$3,500'; }
    //        },


          ],
          "paging": true,
          "pagingType": "full",
          "pageLength": 1,
          "ordering": false,
          "info": false,


        });

    $('#top-search-box').submit(function(event){
      event.preventDefault();
      searchPolygons.getSource().clear();
      $('#id_general_search').val($('#query').val()); //copy search value from top box to hidden element on form
      $('#id_geometry_type').val('centroid'); // search results return centroids
      console.log($('#SurplusSearchForm').serialize());
      console.log($('#id_demolition_order_count'));
      $.ajax({
        url: '{% url "surplus_search" %}',
        type: "GET",
        data: $('#SurplusSearchForm').serialize(),
        success: function(json){
          searchPolygons.getSource().addFeatures(geojson_format.readFeatures(json));
          var extent = searchPolygons.getSource().getExtent();
          if(extent[0]!='Infinity'){
            map.getView().fit(extent,{ size: map.getSize(), maxZoom: 21})
            //console.log(json.features);
            //$('#search_results').DataTable().destory(remove=False);
            $('#search_results').DataTable().clear();
            $('#search_results').DataTable().rows.add(json.features).draw();
            $('#search_results_short').DataTable().clear();
            $('#search_results_short').DataTable().rows.add(json.features).draw();

          //  $('#search_results_pan').collapse('show');
            /*$('#search_results').DataTable( {
                    data: json.features,
              } ); */
          }
          else{
            alert("No search results");
          }
        },
        error: function(xhr,errmsg,err){
          console.log(xhr.status + ": " + xhr.responseText);
        }

      });
    });


    </script>
  </body>
</html>
